body {
    background-color: #99ddcc;
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
}

.inputPadding {
    padding: 20px 0px;
    text-align: center;
    font: {
        size: 20px;
    }
}

$green: #99ddcc;
$pink: #fa91a7;
$yellow: #d9e540;
$white: #fff;
$font-arial: arial;
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.headerContainer,
.header--title {
    @extend .center;
    background-color: $green;
    color: $white;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font: {
        family: $font-arial;
        size: 18px;
        weight: bold;
    }
}

.portada img {
    width: 100%;
    height: 400px;
}

.search {
    @extend .center;
    background-color: $yellow;
    height: 100px;
}

.searchTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    @extend .border,
    .inputPadding;
    width: 70%;
}