body {
    background-color: #99ddcc;
    margin: 0;
    padding: 0;
}

$green: #99ddcc;
$pink: #fa91a7;
$yellow: #d9e540;
$white: #fff;
$font-arial: arial;
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-container {
    width: 100%;
    height: 80px;
}

.letter-transform {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header {
    @extend .center;
    background-color: $green;
    color: $white;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: {
        family: $font-arial;
        size: 18px;
        weight: bold;
    }
}

.main {
    img {
        width: 100%;
        height: 100%;
    }
}