body {
    background-color: #99ddcc;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border {
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
}

.inputPadding {
    padding: 20px 0px;
    text-align: center;
    font: {
        size: 20px;
    }
}

section div div img {
    width: 600px;
    height: 100%;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 4px 6px 20px 8px black;
}

.justifyText {
    text-align: justify;
    text-overflow: ellipsis;
}

$green: #99ddcc;
$pink: #fa91a7;
$yellow: #d9e540;
$white: #fff;
$beige: rgb(255, 243, 188);
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.headerContainer,
.header--title {
    @extend .center;
    background-color: $green;
    color: $white;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font: {
        size: 18px;
        weight: bold;
    }
}

.portada img {
    width: 100%;
    height: 400px;
}

.search {
    @extend .center;
    background-color: $yellow;
    height: 100px;
}

.searchTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    @extend .border,
    .inputPadding;
    width: 70%;
}

.grid {
    display: grid;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
}

.marginSection {
    margin: 10px 30px;
    padding: 5% 0%;
}

.primarySection,
.secondarySection {
    @extend.grid;
    background: $beige;
    margin: 2% 0%;
}

.section-left {
    @extend .marginSection;
    grid-column-start: 1;
    grid-column-end: 1;
}

.section-right {
    @extend .marginSection;
    grid-column-start: 2;
    grid-column-end: 2;
}

.section__text {
    @extend .justifyText;
    font-size: 35px;
    color: rgb(85, 83, 83);
}

.footerContainer {
    @extend .center;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    margin-top: 50px;
    font-size: 20px;
    color: white;
    background: yellowgreen;
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}

.footer__title {
    font-weight: bold;
    color: black;
}

.footer__sub-title {
    text-decoration: double;
}